* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.red {
  background-color: red;
}

.container {
  width: 100%;
}

.container_small {
  margin: auto;
  width: 80%;
}

.logo_container {
  text-align: center;
  padding: 40px 0;
}
.logo_container .logo_nav {
  margin: auto;
  width: 200px;
}

nav {
  text-align: center;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
nav ul li {
  padding: 15px 1px;
}
nav ul li a {
  background-color: #fff;
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: 600;
  padding: 15px;
}
nav ul li .active {
  background-color: #b2e5fc;
}

a.link_nav:focus {
  background-color: #b2e5fc;
}

.wrapper {
  background-image: url("../img/fondo-pag-speciali.jpg");
  background-repeat: none;
  background-position: center;
  background-size: contain;
  padding-top: 50px;
}

h2 {
  text-transform: uppercase;
  color: #002d73;
  font-weight: 600;
  font-size: 30px;
  margin-left: 10px;
  padding: 15px 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
.cards .card {
  width: calc((100% / 3) - 20px );
  margin: 10px;
  background-color: black;
}
@media screen and (max-width: 768px) {
  .cards .card {
    width: calc((100% / 2) - 20px );
  }
}
@media screen and (max-width: 420px) {
  .cards .card {
    width: 100%;
  }
}
.cards .card img {
  display: block;
  width: 100%;
  height: auto;
}

.cortissime {
  padding-bottom: 40px;
}

footer {
  background-color: #fff;
  padding-top: 10px;
}

.footer_main {
  padding: 20px 0 20px 20px;
  display: flex;
}
@media screen and (max-width: 768px) {
  .footer_main {
    flex-wrap: wrap;
    width: 100%;
    margin: 10px;
  }
}
.footer_main .column {
  width: 30%;
  margin: 10px 0;
}
@media screen and (max-width: 768px) {
  .footer_main .column {
    width: 100%;
    margin: 0 auto;
    padding-left: 40px;
  }
}
.footer_main .column .logo_footer {
  width: 200px;
}
.footer_main .column img {
  width: 100%;
}
.footer_main .wrapper_link {
  width: 70%;
  margin: 10px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer_main .wrapper_link .section_link {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .footer_main .wrapper_link .section_link {
    width: 100%;
    margin: 0;
  }
}

.footer_img {
  height: 150px;
}
@media screen and (max-width: 768px) {
  .footer_img {
    height: 100px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media screen and (max-width: 420px) {
  .footer_img {
    height: 50px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.footer_img img {
  height: 100%;
  width: 100%;
}

.society {
  color: #848d9b;
  font-size: 15px;
}

h3.footer_title {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 600;
  color: #848d9b;
  padding: 15px 0 10px 0;
}

.footer_li {
  list-style: none;
}
.footer_li a {
  text-decoration: none;
  font-size: 15px;
  color: #848d9b;
  line-height: 2;
  font-weight: 400;
}

.product {
  background-color: #b7dae5;
  padding: 40px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_wrapper {
  width: 80%;
  color: #002d73;
  font-weight: 600;
  vertical-align: middle;
}
.product_wrapper .title_product {
  text-align: center;
}
.product_wrapper .img_product {
  width: 100%;
}
.product_wrapper .p_product {
  font-size: 24px;
  width: 95%;
}
@media screen and (max-width: 768px) {
  .product_wrapper .p_product {
    width: 100%;
    font-size: 18px;
  }
}

i.arrow {
  background-color: #dcedf2;
  font-size: 40px;
  height: 60px;
  padding: 10px 5px;
  color: #fff;
  cursor: pointer;
}
