* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.red {
  background-color: red;
}

.container {
  width: 100%;
}

.container_small {
  margin: auto;
  width: 80%;
}

.logo_container {
  text-align: center;
  padding: 40px 0;
}
.logo_container .logo_nav {
  margin: auto;
  width: 200px;
}

nav {
  text-align: center;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
nav ul li {
  padding: 15px 1px;
}
nav ul li .link_nav {
  background-color: #fff;
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: 600;
  padding: 15px;
}

a.link_nav:focus {
  background-color: #b2e5fc;
}

.test {
  background-color: #b2e5fc;
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: 600;
  padding: 15px;
}

main {
  background-image: url("../img/fondo-pag-speciali.jpg");
  background-repeat: none;
  background-position: center;
  background-size: contain;
  padding-top: 50px;
}

h2 {
  text-transform: uppercase;
  color: #002d73;
  font-weight: 600;
  font-size: 30px;
  margin-left: 10px;
  padding: 15px 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
.cards .card {
  width: calc((100% / 3) - 20px );
  margin: 10px;
  background-color: black;
}
.cards .card img {
  display: block;
  width: 100%;
  height: auto;
}
