*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.red{
    background-color: red;
} 
.container{
  width: 100%;
}
.container_small{
  margin: auto;
  width: 80%;
}