footer{
    height:850px;
    color: $whi_col;
}
.footer_main{
    background-color: aqua;
    height:700px;
    padding : 20px 0;
    display : flex;
    .column{
        width: 30%;
        margin: 10px 40px;
        background-color: pink;
    }
    .column_link{
        width: 70%;
        margin: 10px 40px;
        background-color: pink;
    }
}
.footer_img{
    height:150px;
    img{
        height:100%;
        width:100%;
    }
}
.society{
    color: $gray_col;
    font-size:$font_15;
}