footer{
    background-color: $whi_col;
    padding-top: 10px;
}
.footer_main{
    padding : 20px 0;
    display : flex;
    .column{
        width: 30%;
        margin: 10px;
    }
    .wrapper_link{
        width: 70%;
        margin: 10px 40px;
        display: flex;
        flex-wrap: wrap;
        
        justify-content:space-between;
        .section_link{
            width: 50%;   
        }
    }
}
.footer_img{
    height:150px;
    img{
        height:100%;
        width:100%;
    }
}
.society{
    color: $gray_col;
    font-size:$font_15;
}
h3.footer_title{
    text-transform: uppercase;
    font-size: $font_26;
    font-weight: 600;
    color: $gray_col;
    padding: 15px 0 10px 0;
}
.footer_li{
    list-style: none;
    a{
        text-decoration: none;
        font-size: $font_15;
        color: $gray_col;
        line-height: 2;
        font-weight: 400;
    }
}