.logo_container{
    text-align: center;
    padding: 40px 0;
    .logo_nav{
        margin: auto;
        width: 200px;
    }
}
nav{
text-align: center;
    ul{
        display: flex;
        justify-content: center;
        list-style: none;
        li{
            padding: 15px 1px;
            a{
            background-color: $whi_col;
            text-decoration: none;
            color:$bk_col;
            font-size: $font_22;
            font-weight: 600;
            padding: 15px;
            } 
             .active{
                background-color: $azul_col;
            }
        }
    }
}
a.link_nav:focus{
    background-color: $azul_col;
}