.product{
    background-color: $prod_col;
    padding: 40px 0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.product_wrapper{
    width: 80%;
    color: $blue_col;
    font-weight: 600;
    vertical-align: middle;
    .title_product{
        text-align: center;
    }
    .img_product{
        width: 100%;
    }
    .p_product{
       font-size: $font_24;
       width: 95%;
       @media screen and (max-width: 768px){
            width: 100%;
            font-size:$font_18;
        }
    }
}
i.arrow{
    background-color: #dcedf2;
    font-size: $font_40;
    height: 60px;
    padding: 10px 5px;
    color: $whi_col;
    cursor: pointer;
}