$blue_col: #002d73;
$azul_col: #b2e5fc;
$prod_col: #b7dae5;
$whi_col: #fff;
$bk_col: #000;
$gray_col: #848d9b;

$font_9: 9px;
$font_11: 11px;
$font_12: 12px;
$font_14: 14px;
$font_15: 15px;
$font_16: 16px;
$font_18: 18px;
$font_22: 22px;
$font_24: 24px;
$font_26: 26px;
$font_30: 30px;
$font_32: 32px;
$font_40: 40px;